<template>
  <section class="container">
    <div>
      <h2>{{ $static.strapiPortfolio.about.title }}</h2>
      <div class="row">
        <div class="col-6">
          <p>{{ $static.strapiPortfolio.about.description }}</p>
          <tag-list :tags="$static.strapiPortfolio.about.tags" />
        </div>
        <div class="col-6">
          <v-img
            :src="
              '/' +
              $static.strapiPortfolio.about.image.hash +
              $static.strapiPortfolio.about.image.ext
            "
            :alt="$static.strapiPortfolio.about.image.alternativeText"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<static-query>
query {
  strapiPortfolio(id: "1") {
    about {
      title
      description
      tags {
        label
      }
      image {
        hash
        ext
        url
        alternativeText
      }
    }
  }
}
</static-query>

<script>
import TagList from "../../molecules/TagList.vue";
import VImg from "../../atoms/VImg";

export default {
  components: {
    TagList,
    VImg,
  },
};
</script>
