<template>
  <section class="container">
    <div>
      <h2>{{ $static.strapiPortfolio.contact.title }}</h2>
      <div class="contact">
        <vue-markdown :source="$static.strapiPortfolio.contact.description" />
      </div>
      <div class="icons">
        <div>
          <v-icon
            :is-animated="true"
            :link="$static.strapiPortfolio.contact.link_email"
            :icon="['fas', 'envelope']"
            size="3x"
          />
          <p>Email</p>
        </div>
        <div>
          <v-icon
            :is-animated="true"
            :link="$static.strapiPortfolio.contact.link_gitlab"
            :icon="['fab', 'gitlab']"
            size="3x"
          />
          <p>Gitlab</p>
        </div>
        <div>
          <v-icon
            :is-animated="true"
            :link="$static.strapiPortfolio.contact.link_linkedin"
            :icon="['fab', 'linkedin-in']"
            size="3x"
          />
          <p>LinkedIn</p>
        </div>
        <div>
          <v-icon
            :is-animated="true"
            link="/resume.pdf"
            :icon="['fas', 'file']"
            size="3x"
          />
          <p>Resume</p>
        </div>
      </div>
    </div>
  </section>
</template>

<static-query>
query {
  strapiPortfolio(id: "1") {
    contact {
      title
      description
      link_email
      link_gitlab
      link_linkedin
      resume {
        url
      }
    }
  }
}
</static-query>

<script>
import VueMarkdown from "vue-markdown-render";
import VIcon from "../../atoms/VIcon";

export default {
  components: {
    VIcon,
    VueMarkdown,
  },
  data() {
    return {
      host: process.env.GRIDSOME_SERVER_URL,
    };
  },
};
</script>

<style lang="scss" scoped>

.icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}
p {
  font-size: 0.8em;
  font-family: var(--font-monospace);
  text-align: center;
}

$breakpoint-md: 35em;
@media only screen and (min-width: $breakpoint-md) {
  .icons {
    width: 50%;
  }
  .contact {
    width: 50%;
    margin: 0 auto;
  }
}

path {
  fill: var(--colour-text);
}
</style>
