<template>
  <section class="container">
    <div class="hero-banner">
      <p>{{ $static.strapiPortfolio.banner.preheading }}</p>
      <h1>{{ $static.strapiPortfolio.banner.heading }}</h1>
      <p>{{ $static.strapiPortfolio.banner.subheading }}</p>
      <v-link
        :url="$static.strapiPortfolio.contact.link_email"
        :is-outlined="true"
        >{{ $static.strapiPortfolio.banner.contact_label }}</v-link
      >
    </div>
  </section>
</template>

<static-query>
query {
  strapiPortfolio(id: "1") {
    banner {
      preheading
      heading
      subheading
      contact_label
    }
    contact {
      link_email
    }
  }
}
</static-query>

<script>
import VLink from "../../atoms/VLink";

export default {
  components: {
    VLink,
  },
};
</script>

<style lang="scss" scoped>
.container {
  height: 90vh;
  margin: 0 auto;
}
</style>
