<template>
  <section class="container">
    <h2>{{ $static.strapiPortfolio.projects.title }}</h2>
    <sticky-image-column
      :sections="$static.strapiPortfolio.projects.projects"
    />
  </section>
</template>

<static-query>
query {
  strapiPortfolio(id: "1") {
    projects {
      title
      projects {
        title
        description
        image {
          url
          hash
          ext
          alternativeText
        }
        id
        tags {
          label
        }
        link_gitlab
        link_external
      }
    }
  }
}
</static-query>

<script>
import StickyImageColumn from "../../molecules/StickyImageColumn";

export default {
  components: {
    StickyImageColumn,
  },
};
</script>
