<template>
  <section class="container">
    <div>
      <h2>{{ $static.strapiPortfolio.history.title }}</h2>
      <expandable-list :item-list="$static.strapiPortfolio.history.history" />
    </div>
  </section>
</template>

<static-query>
query {
  strapiPortfolio(id: "1") {
    history {
      title
      history {
        title
        subtitle
        label
        location
        description
        tags {
          label
        }
      }
    }
  }
}
</static-query>

<script>
import ExpandableList from "../../molecules/ExpandableList.vue";

export default {
  components: {
    ExpandableList,
  },
};
</script>
