<template>
  <Layout>
    <div class="page-404">
      <h1>404</h1>
      <h1>Page Not Found</h1>
      <v-link url="/" :is-outlined="true">Home</v-link>
    </div>
  </Layout>
</template>

<script>
import VLink from "../components/atoms/VLink";

export default {
  metaInfo: {
    title: "404",
  },
  components: {
    VLink,
  },
};
</script>

<style lang="scss" scoped>
.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  > h1 {
    text-align: center;
  }
}
</style>
