<template>
  <Layout>
    <HeroBanner />
    <About />
    <WorkHistory />
    <Projects />
    <Contact />
  </Layout>
</template>

<script>
import HeroBanner from "~/components/sections/portfolio/HeroBanner.vue";
import About from "~/components/sections/portfolio/About.vue";
import WorkHistory from "~/components/sections/portfolio/WorkHistory.vue";
import Projects from "~/components/sections/portfolio/Projects.vue";
import Contact from "~/components/sections/portfolio/Contact.vue";

export default {
  metaInfo: {
    title: "Portfolio",
  },
  components: {
    HeroBanner,
    About,
    WorkHistory,
    Projects,
    Contact,
  },
};
</script>
