<template>
  <button class="v-btn" :class="{ active: isActive }" @click="$emit('click')">
    <span class="temp">
      <slot />
    </span>
  </button>
</template>

<script>
export default {
  name: "VButton",
  props: {
    isActive: {
      type: Boolean,
      default: () => false,
    },
  },
};
</script>

<style lang="scss" scoped>
.v-btn {
  background-color: transparent;
  padding: 1em 10%;
  border-width: 0;
  color: var(--colour-text);
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 6px 20px -7px rgba(0, 0, 0, 0.6);
}
.v-btn:hover {
  background-color: var(--colour-active);
}
.active {
  color: var(--colour-accent);
  background-color: var(--colour-active);
  border-color: var(--colour-accent);
}
</style>
