<template>
  <a
    :href="link"
    :target="targetNewWindow ? '_blank' : '_self'"
    :class="{ animated: isAnimated }"
  >
    <font-awesome-icon
      :icon="icon"
      :size="size"
      class="fa-icon"
    ></font-awesome-icon>
  </a>
</template>

<script>
export default {
  name: "VIcon",
  props: {
    icon: {
      type: Array,
      required: true,
    },
    link: {
      type: String,
      default: () => "",
    },
    targetNewWindow: {
      type: Boolean,
      default: () => true,
    },
    size: {
      type: String,
      required: true,
    },
    isAnimated: {
      type: Boolean,
      default: () => false,
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: inherit;
}
.fa-icon {
  display: inline-block;
}
.animated {
  top: 0;
  transition: top ease-out 100ms;
}
.animated:hover {
  top: -2px;
}
</style>
