<template>
  <img :src="src" :alt="alt" class="image" />
</template>

<script>
export default {
  name: "VImg",
  props: {
    src: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
.image {
  border-radius: 12px;
}
</style>
