<template>
  <a :href="url" :class="{ outlined: isOutlined, filled: !isOutlined }">
    <slot />
  </a>
</template>

<script>
export default {
  name: "VLink",
  props: {
    url: {
      type: String,
      required: true,
    },
    isOutlined: {
      type: Boolean,
      default: () => false,
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  display: inline-block;
  text-align: center;
  font-family: var(--font-monospace);
  text-decoration: none;
  width: fit-content;
  color: var(--colour-accent);
  border: 2px solid var(--colour-accent);
  border-radius: 4px;
  padding: 14px 28px;
  cursor: pointer;
  transition: 0.3s;
}
a:hover {
  background: var(--colour-active);
}
.filled {
  background-color: var(--colour-accent);
  color: var(--colour-text);
}
.outlined {
  color: var(--colour-accent);
}
</style>
