<template>
  <span class="v-tag">
    <slot />
  </span>
</template>

<script>
export default {
  name: "VTag",
  props: {},
};
</script>

<style lang="scss" scoped>
.v-tag {
  font-family: var(--font-monospace);
  background-color: var(--colour-lighter);
  font-size: 0.9em;
  border-radius: 4px;
  padding: 4px 8px;
}
</style>
