<template>
  <div class="row">
    <div class="col-3 rotatable" style="gap: 10px">
      <v-button
        v-for="(item, i) in itemList"
        :key="item.id"
        :is-active="index === i"
        @click="
          select(i);
          animate();
        "
      >
        {{ item.label }}
      </v-button>
    </div>
    <div
      class="col-9 pop"
      :class="{ pop__active: isAnimated }"
      @animationend="isAnimated = false"
    >
      <h4>{{ itemList[index].title }} at {{ itemList[index].location }}</h4>
      <div class="row">
        <p>{{ itemList[index].subtitle }}</p>
        <tag-list :tags="itemList[index].tags" />
      </div>
      <vue-markdown :source="itemList[index].description" />
    </div>
  </div>
</template>

<script>
import VueMarkdown from "vue-markdown-render";
import VButton from "../atoms/VButton.vue";
import TagList from "./TagList.vue";

export default {
  name: "ExpandableList",
  components: { VButton, VueMarkdown, TagList },
  props: {
    itemList: {
      type: Array,
      required: true,
    },
  },
  data: () => {
    return {
      index: 0,
      isAnimated: false,
    };
  },
  methods: {
    select(i) {
      this.index = i;
    },
    animate() {
      this.isAnimated = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.pop {
  &__active {
    animation: pop-in 400ms ease;
  }
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
    animation-timing-function: ease;
  }
  30% {
    transform: translateY(-5px);
    animation-timing-function: ease;
  }
  60% {
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease;
  }
}
</style>
