<template>
  <footer>
    <div>
      <p>{{ $static.strapiFooter.title }}</p>
    </div>
  </footer>
</template>

<static-query>
query {
  strapiFooter(id: "1") {
    title
  }
}
</static-query>

<style lang="scss" scoped>
div {
  position: relative;
  display: flex;
  justify-content: center;
}
p {
  font-family: var(--font-monospace);
}
</style>
