<template>
  <div :style="{ position: 'relative', height: sections.length * 60 + 'em' }">
    <div ref="stickyImage" class="sticky">
      <transition
        :enter-active-class="
          isRightSideImage(currentImageIndex) ? 'enter__right' : 'enter__left'
        "
        :leave-active-class="
          isRightSideImage(currentImageIndex) ? 'leave__left' : 'leave__right'
        "
      >
        <v-img
          :key="'sticky-image-' + currentImage.id"
          :src="'/' + currentImage.image.hash + currentImage.image.ext"
          :alt="currentImage.image.alternativeText"
          class="sticky-img img__desktop"
          :class="isRightSideImage(currentImageIndex) ? 'right' : 'left'"
        />
      </transition>
    </div>
    <div
      v-for="(imageObj, i) in sections"
      ref="nonStickyText"
      :key="imageObj.id"
      :class="'text-block__' + i"
      style="height: 100vh"
    >
      <!-- Position text on opposite side as image -->
      <div class="col-4" :class="isRightSideImage(i) ? 'left' : 'right'">
        <div class="title">
          <h4>{{ imageObj.title }}</h4>
          <div class="icons">
            <v-icon
              v-if="imageObj.link_gitlab"
              :link="imageObj.link_gitlab"
              :icon="['fab', 'gitlab']"
              size="lg"
              :is-animated="true"
            />
            <v-icon
              v-if="imageObj.link_external"
              :link="imageObj.link_external"
              :icon="['fas', 'external-link-alt']"
              size="lg"
              :is-animated="true"
            />
          </div>
        </div>
        <p>{{ imageObj.description }}</p>
        <tag-list :tags="imageObj.tags" />
      </div>
      <!-- Mobile-only images -->
      <v-img
        :src="'/' + imageObj.image.hash + imageObj.image.ext"
        :alt="imageObj.image.alternativeText"
        class="img__mobile"
      />
    </div>
  </div>
</template>

<script>
import VImg from "../atoms/VImg";
import TagList from "./TagList";
import VIcon from "../atoms/VIcon";

export default {
  name: "StickyImageColumn",
  components: { VIcon, VImg, TagList },
  props: {
    sections: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      currentImageIndex: 0,
      isShowing: false,
    };
  },
  computed: {
    currentImage: function () {
      return this.sections[this.currentImageIndex];
    },
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      let imageBottom = this.$refs.stickyImage.getBoundingClientRect().bottom;
      // Get the first text block starting from the bottom
      // which is in the same region as the visible image
      let currentIndex = this.$refs.nonStickyText
        .slice()
        .reverse()
        .findIndex((text) => {
          return text.getBoundingClientRect().top < imageBottom;
        });
      // Reverse to get correct index
      this.currentImageIndex =
        this.$refs.nonStickyText.length - 1 - currentIndex;
    },
    isRightSideImage(i) {
      return i % 2 === 1;
    },
  },
};
</script>

<style scoped lang="scss">
.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > .icons {
    display: flex;
    gap: 20px;
  }
}

$breakpoint-md: 35em;
@media only screen and (min-width: $breakpoint-md) {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
@for $i from 0 through 10 {
  .text-block__#{$i} {
    position: absolute;
    top: $i * 60em;
    width: 100%;
  }
  .sticky {
    display: inline-block;
    position: sticky;
    top: 40%;
    width: 100%;
    &-img {
      width: 50%;
    }
  }
}
.enter {
  opacity: 1;
  transition: opacity 200ms;
  &__left {
    animation: bounce-in-left 600ms;
  }
  &__right {
    animation: bounce-in-right 600ms;
  }
}
.leave {
  &__left {
    opacity: 0;
    animation: bounce-out-left 250ms;
  }
  &__right {
    opacity: 0;
    animation: bounce-out-right 250ms;
  }
}
@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(60px);
    animation-timing-function: ease;
  }
  30% {
    transform: translateX(-15px);
    animation-timing-function: ease;
  }
  60% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    animation-timing-function: ease;
  }
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
    animation-timing-function: ease;
  }
  30% {
    transform: translateX(15px);
    animation-timing-function: ease;
  }
  60% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    animation-timing-function: ease;
  }
}
@keyframes bounce-out-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(60px);
  }
}
@keyframes bounce-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-60px);
  }
}
</style>
