<template>
  <ul class="tag-list">
    <li v-for="tag in tags" :key="tag.label">
      <v-tag>{{ tag.label }}</v-tag>
    </li>
  </ul>
</template>

<script>
import VTag from "../atoms/VTag.vue";

export default {
  name: "TagList",
  components: { VTag },
  props: {
    tags: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.tag-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
}
</style>
