@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap');

:root {
  --font-regular: "Roboto";
  --font-monospace: "Roboto Mono";
  --font-header: "Open Sans";

  --colour-background: #291D2F;
  --colour-accent: #BFC2D6;
  --colour-text: #BFC2D6;
  --colour-active: #463A50;
  --colour-lighter: #33243B;
  --colour-darker: #201825;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1.8;
  background-color: var(--colour-background);
  color: var(--colour-text);
  margin: 0;
}

$grid-cols: 12;
$grid-max-width: 65em;

.container {
  max-width: $grid-max-width;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

[class*='col-'] {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

$breakpoint-md: 35em;
@media only screen and (min-width: $breakpoint-md) {
  @for $i from 1 through $grid-cols {
    .col-#{$i} {
      width: (100 / ($grid-cols / $i) ) * 1%;
    }
  }
  .contact {
    width: 50%;
    margin: 0 auto;
  }
  .img__mobile {
    visibility: hidden;
  }
}
@media only screen and (max-width: $breakpoint-md) {
  .img__desktop {
    display: none;
  }
  [class*='col-'].rotatable {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
  filter: drop-shadow(5px 5px 5px #222);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}
h2:before, h2:after {
  content: "";
  color: var(--colour-active);
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto 20px auto 20px;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}