<template>
  <div class="layout">
    <slot />
    <Footer />
  </div>
</template>

<script>
import Footer from "~/components/molecules/Footer.vue";

export default {
  components: {
    Footer,
  },
};
</script>

<style></style>
